<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">


    <servlet>
        <servlet-name>ShowMessage</servlet-name>
        <servlet-class>ShowMessage</servlet-class>
		<init-param>
		<param-name>
		message
		</param-name>
		<param-value>
		Random Sample Message
		</param-value>
	</init-param>

		<init-param>
		<param-name>
		repeats
		</param-name>
		<param-value>
		10
		</param-value>
	</init-param>

    </servlet>

	<servlet-mapping>
        <servlet-name>ShowMessage</servlet-name>
        <url-pattern>/ShowMessage</url-pattern>
    </servlet-mapping>




		<servlet>
        <servlet-name>productTab</servlet-name>
        <servlet-class>productTab</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>productTab</servlet-name>
        <url-pattern>/productTab</url-pattern>
    </servlet-mapping>



	<servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>signUp</servlet-name>
        <servlet-class>signUp</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

<servlet>
        <servlet-name>Mobile</servlet-name>
        <servlet-class>Mobile</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Mobile</servlet-name>
        <url-pattern>/Mobile</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>Tablet</servlet-name>
        <servlet-class>Tablet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Tv</servlet-name>
        <url-pattern>/Tv</url-pattern>
    </servlet-mapping>

		<servlet>
        <servlet-name>Tv</servlet-name>
        <servlet-class>Tv</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Tablet</servlet-name>
        <url-pattern>/Tablet</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>ShowSession</servlet-name>
        <servlet-class>ShowSession</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ShowSession</servlet-name>
        <url-pattern>/ShowSession</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>OrderPage</servlet-name>
        <servlet-class>OrderPage</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>OrderPage</servlet-name>
        <url-pattern>/OrderPage</url-pattern>
    </servlet-mapping>


	<servlet>
        <servlet-name>Home2</servlet-name>
        <servlet-class>Home2</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Home2</servlet-name>
        <url-pattern>/Home2</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

		<servlet>
        <servlet-name>OrderPage</servlet-name>
        <servlet-class>OrderPage</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>OrderPage</servlet-name>
        <url-pattern>/OrderPage</url-pattern>
    </servlet-mapping>

		<servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>Checkout</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>Order</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>ItemOrder</servlet-name>
        <servlet-class>ItemOrder</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ItemOrder</servlet-name>
        <url-pattern>/ItemOrder</url-pattern>
    </servlet-mapping>


	<servlet>
        <servlet-name>createUser</servlet-name>
        <servlet-class>createUser</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>createUser</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>productManage</servlet-name>
        <servlet-class>productManage</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>productManage</servlet-name>
        <url-pattern>/productManage</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>OrderStatus</servlet-name>
        <servlet-class>OrderStatus</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>OrderStatus</servlet-name>
        <url-pattern>/OrderStatus</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>OrderCancel</servlet-name>
        <servlet-class>OrderCancel</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>OrderCancel</servlet-name>
        <url-pattern>/OrderCancel</url-pattern>
    </servlet-mapping>


    <servlet>
          <servlet-name>review</servlet-name>
          <servlet-class>review</servlet-class>
      </servlet>


      <servlet-mapping>
          <servlet-name>review</servlet-name>
          <url-pattern>/review</url-pattern>
      </servlet-mapping>

      <servlet>
            <servlet-name>reviewInsert</servlet-name>
            <servlet-class>reviewInsert</servlet-class>
        </servlet>


        <servlet-mapping>
            <servlet-name>reviewInsert</servlet-name>
            <url-pattern>/reviewInsert</url-pattern>
        </servlet-mapping>
        <servlet>
              <servlet-name>reviewForm</servlet-name>
              <servlet-class>reviewForm</servlet-class>
          </servlet>


          <servlet-mapping>
              <servlet-name>reviewForm</servlet-name>
              <url-pattern>/reviewForm</url-pattern>
          </servlet-mapping>

          <servlet>
                <servlet-name>viewReview</servlet-name>
                <servlet-class>viewReview</servlet-class>
            </servlet>


            <servlet-mapping>
                <servlet-name>viewReview</servlet-name>
                <url-pattern>/viewReview</url-pattern>
            </servlet-mapping>
            <servlet>
                  <servlet-name>Trending</servlet-name>
                  <servlet-class>Trending</servlet-class>
              </servlet>


              <servlet-mapping>
                  <servlet-name>Trending</servlet-name>
                  <url-pattern>/Trending</url-pattern>
              </servlet-mapping>

              <servlet>
                    <servlet-name>salesman</servlet-name>
                    <servlet-class>salesman</servlet-class>
                </servlet>


                <servlet-mapping>
                    <servlet-name>salesman</servlet-name>
                    <url-pattern>/salesman</url-pattern>
                </servlet-mapping>

                <servlet>
                      <servlet-name>InsertOrder</servlet-name>
                      <servlet-class>InsertOrder</servlet-class>
                  </servlet>


                  <servlet-mapping>
                      <servlet-name>InsertOrder</servlet-name>
                      <url-pattern>/InsertOrder</url-pattern>
                  </servlet-mapping>

                  <servlet>
                        <servlet-name>checkUser</servlet-name>
                        <servlet-class>checkUser</servlet-class>
                    </servlet>


                    <servlet-mapping>
                        <servlet-name>checkUser</servlet-name>
                        <url-pattern>/checkUser</url-pattern>
                    </servlet-mapping>

                    <servlet>
                          <servlet-name>OrderUpdateDetail</servlet-name>
                          <servlet-class>OrderUpdateDetail</servlet-class>
                      </servlet>


                      <servlet-mapping>
                          <servlet-name>OrderUpdateDetail</servlet-name>
                          <url-pattern>/OrderUpdateDetail</url-pattern>
                      </servlet-mapping>

                      <servlet>
                            <servlet-name>updateOrder</servlet-name>
                            <servlet-class>updateOrder</servlet-class>
                        </servlet>


                        <servlet-mapping>
                            <servlet-name>updateOrder</servlet-name>
                            <url-pattern>/updateOrder</url-pattern>
                        </servlet-mapping>

                        <servlet>
      <servlet-name>AutoCompleteServlet</servlet-name>
      <servlet-class>AutoCompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>AutoCompleteServlet</servlet-name>
      <url-pattern>/autocomplete</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>productT</servlet-name>
        <servlet-class>productT</servlet-class>
    </servlet>
  <servlet-mapping>
    <servlet-name>productT</servlet-name>
    <url-pattern>/productT</url-pattern>
  </servlet-mapping>


  <servlet>
      <servlet-name>storeManager</servlet-name>
      <servlet-class>storeManager</servlet-class>
  </servlet>
<servlet-mapping>
  <servlet-name>storeManager</servlet-name>
  <url-pattern>/storeManager</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>addProduct</servlet-name>
    <servlet-class>addProduct</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>addProduct</servlet-name>
<url-pattern>/addProduct</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>updateProduct</servlet-name>
    <servlet-class>updateProduct</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>updateProduct</servlet-name>
<url-pattern>/updateProduct</url-pattern>
</servlet-mapping>


<servlet>
    <servlet-name>removeProduct</servlet-name>
    <servlet-class>removeProduct</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>removeProduct</servlet-name>
<url-pattern>/removeProduct</url-pattern>
</servlet-mapping>



</web-app>
